@import viewmodels.LabelSize
@import uk.gov.hmrc.govukfrontend.views.viewmodels.charactercount.CharacterCount
@import uk.gov.hmrc.govukfrontend.views.viewmodels.errormessage.ErrorMessage

@this(
        layout: templates.Layout,
        formHelper: FormWithCSRF,
        govukErrorSummary: GovukErrorSummary,
        govukCharacterCount: GovukCharacterCount,
        govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("otherTradeClass.title"))) {

@formHelper(action = routes.OtherTradeClassController.onSubmit(mode)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <span class="govuk-caption-l">
                @messages("changeRegistrationDetails.title")
        </span>


        <h1 class="govuk-heading-l">
                @messages("otherTradeClass.heading")
        </h1>

        <span class="govuk-caption-l govuk-!-margin-bottom-4">
                @messages("otherTradeClass.caption")
        </span>


        @govukCharacterCount(
            CharacterCount(
            id = "otherTradeClass",
            name = "otherTradeClass",
            maxLength = 300,
            label = LabelViewModel(""),
            value = form("otherTradeClass").value
            ).withErrorMessage(
            form("otherTradeClass").error.map(e =>
            ErrorMessage(content = Text(messages(e.message, e.args:_*)))
            )
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
